<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - RFSLibrary</title>
    <link rel="stylesheet" href="~/css/customstyles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
        <a class="navbar-brand" href="#">
            <img src="~/imgs/books.png" width="30" height="30" />
            RFSLibrary
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Books" asp-action="Index">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Books" asp-action="Donate">Donate</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                            <button type="submit" class="btn btn-link nav-link" style="cursor:pointer;">Logout</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">Hi @User.Identity.Name!</span>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">User Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Register">Sign Up</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
        @RenderBody()
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)

    <footer class="text-center mt-4">
        <div class="container-fluid" id="footer1">
            <p style="color:whitesmoke">&copy; 2024 All Rights Reserved. <a class="footerlinks" href="#" target="_blank">RFSLibrary</a></p>
        </div>
    </footer>
</body>
</html>